

.body {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  align-items: center;
}

.bod {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.flower, .flower.th, .flower.td{
  border-collapse: collapse;
  border: 1px solid #61dafb;
  width: 100%;
}
.resources{
  border-collapse: collapse;
  border: 1px solid #61dafb;
  width: 100%;
}

.none{
  border-collapse: collapse;
  border: none;
  width: 100%;
}

table.none th{
  border: 0px solid;
;
}
th, td {
  border: 1px solid #61dafb;
  text-align: center;
  padding: 10px;
}

.add{
  display: flex;
  width: 200px;
  height: 55px;
  margin-left: 13%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  background: #282c34;
  color: white;
  border-radius: 5px;
  border-color: #61dafb;
  font-size: calc(7px + 2vmin);
  flex-shrink: 0;
}

.waterShed{
  display: flex;
  height: 30px;
  margin-left: 80px;
  justify-content: center;
  align-items: center;
  background: #282c34;
  color: white;
  border-radius: 5px;
  border-color: #61dafb;
  font-size: calc(4px + 2vmin);
  flex-shrink: 0;
}
.butRes{
  display: flex;
  height: 60px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background: #282c34;
  color: white;
  border-radius: 5px;
  border-color: #61dafb;
  font-size: calc(7px + 2vmin);
  flex-shrink: 0;
}
.navigates{
  display: flex;
  height: 50px;
  width: 150px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  background: #282c34;
  color: white;
  border-radius: 5px;
  border-color: #61dafb;
  font-size: calc(8px + 2vmin);
  flex-shrink: 0;
}
.inp{
  height: 55px;
  margin-left: 0px;
}

.in{
  margin-left: 87%;
}
.container {
  display: flex;
  justify-content: space-between; /* Распределяет пространство между элементами */
  flex-direction: column; /* Устанавливаем направление столбца */
}
.cont{
  display: flex;
  justify-content: space-between; /* Распределяет пространство между элементами */
  flex-direction: row; /* Устанавливаем направление столбца */
}

.grut {
  margin-left: 2%; /* Расстояние между изображением и таблицей (можете настроить по вашему вкусу) */
  max-width: 25%; /* Максимальная ширина изображения будет 100% от доступной ширины контейнера */
  margin-top: 10px;
  height: auto;
}

.grut2 {
  margin-left: 40%; /* Расстояние между изображением и таблицей (можете настроить по вашему вкусу) */
  margin-right: 30px;
  max-width: 20%; /* Максимальная ширина изображения будет 100% от доступной ширины контейнера */
  margin-top: 10px;
  height: auto;
}

