.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flower, .flower.th{
  border-collapse: collapse;
  border: 1px solid #61dafb;
  width: 100%;
}

th, td {
  border: 1px solid #61dafb;
  text-align: center;
  padding: 10px;
}

.add{
  display: flex;
  width: 250px;
  height: 55px;
  margin-left: 1%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background: #282c34;
  color: white;
  border-radius: 5px;
  border-color: #61dafb;
  font-size: calc(7px + 2vmin);
  flex-shrink: 0;
}
.container {
  display: flex;
  justify-content: space-between; /* Распределяет пространство между элементами */
  flex-direction: column; /* Устанавливаем направление столбца */
}
.cont{
  display: flex;
  justify-content: space-between; /* Распределяет пространство между элементами */
  flex-direction: row; /* Устанавливаем направление столбца */
}

.grut {
  margin-left: 2%; /* Расстояние между изображением и таблицей (можете настроить по вашему вкусу) */
  max-width: 25%; /* Максимальная ширина изображения будет 100% от доступной ширины контейнера */
  margin-top: 10px;
  height: auto;
}

.grut2 {
  margin-left: 40%; /* Расстояние между изображением и таблицей (можете настроить по вашему вкусу) */
  margin-right: 30px;
  max-width: 20%; /* Максимальная ширина изображения будет 100% от доступной ширины контейнера */
  margin-top: 10px;
  height: auto;
}

